*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --height-header: 60px;
    --primary: #3ECF8E;
    --primary-dark: #37996B;
    --primary-darker: #317F5A;
    --text: #F9F9F9;
    --background: #1C1C1C;
    --secondary: #2E2E2E;
    --gray-border: #3E3E3E;
    --gray-border-hover: #505050;
    --gray-menu-button: #7E7E7E;
    --gray-menu-button-hover: #232323;
    --navbar-height: 64px;
    --gray-text-hover: #8F8F8F;
    --gray-icon: #A0A0A0;
}

.subtitle{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}